body{
    background-color:#141414;
    height: 100%;
    margin: 0;
}
.netflix-background{
    width: 100px;
    height: 30px; 
    display: grid;
    grid-area: nav;
    padding-left: 50px;
    margin-top: 10px;


}
.container{
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav nav nav"
    "main main main";
}
main{
    grid-area: main;
}
  .navBar{
    grid-area: nav;
    display: flex;
    background-color: #141414;
}

.browseList li{
    grid-area: nav;
    display: inline;
    color: white;
  }
  .card {
    display: inline-block;
    width: 100%;
    max-width: 298px;
  }
  .card img{
    height: 163px;
    object-fit:inherit;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  p{
    color: white;
    font-size: 35px
  }
  
